# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# msbuild output directories
/bin
/obj
/Plugins/bin
/Plugins/obj
/Console/bin
/Console/obj

# vs intermediate directory
/.vs

# MSBuild Binary and Structured Log
*.binlog
